<div class="table-responsive">
        <table class="table table-bordered">
                <caption>List of users</caption>
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Website</th>
                  </tr>
                </thead>
                <tbody *ngIf="users">
                  <tr *ngFor="let user of users">            
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address.street}}{{user.address.suite}}, {{user.address.city }}, CP. {{user.address.zipcode}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.website}}</td>
                  </tr>
                 
                </tbody>
        </table>
</div>
