<div class="container">
  <div class="row">
      <div class="col-sm border margin">                
        <form [formGroup]="registerUserForm" (ngSubmit)="registerUser()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNombre">Nombre</label>
                <input class="form-control" formControlName="name" name="name" type="text" maxlength="60" placeholder="Ingresa tu Nombre" [ngClass]="{ 'is-invalid': register && registerUserForm.controls.name.errors }">           
              </div>
              <div class="form-group col-md-6">
                  <label for="inputEdad">Edad</label>
                  <input class="form-control" formControlName="age" name="age" type="text" maxlength="3" placeholder="Ingresa tu Edad" [ngClass]="{ 'is-invalid': register && registerUserForm.controls.age.errors }">              
                </div>
            </div> 
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail">Email</label>
                  <input class="form-control" formControlName="email" name="email" type="text" maxlength="50" placeholder="Ingresa tu Email" [ngClass]="{ 'is-invalid': register && registerUserForm.controls.email.errors }">              
                </div>
                <div class="form-group col-md-6">
                    <label for="inputTelefono">Telefono</label>
                    <input class="form-control" formControlName="phone" name="phone" type="text" maxlength="50" placeholder="Ingresa tu Telefono" [ngClass]="{ 'is-invalid': register && registerUserForm.controls.phone.errors }">                
                  </div>
              </div> 
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputDireccion">Direccion</label>
                    <input class="form-control" formControlName="address" name="address" type="text" maxlength="100" placeholder="Ingresa tu Direccion" [ngClass]="{ 'is-invalid': register && registerUserForm.controls.address.errors }">                
                </div>             
                </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <span *ngIf="register && registerUserForm.invalid" class="message-error">
              Verificar los campos en rojo.
          </span>
        </form>
      </div>
      <div class="col-sm border margin">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Dirección</th>
                </tr>
              </thead>
              <tbody *ngIf="users">
                <tr *ngFor="let user of users">
                  <th>{{user.name | camelcase}}</th>
                  <td>{{user.age}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.address | camelcase}}</td>
                </tr>                
              </tbody>
            </table>
      </div>
  </div>
</div>

