<nav class="nav navbar-dark bg-dark">                    
    <div class="container">
            <a class="navbar-brand m" routerLink="/home">Inicio</a>
            <a class="navbar-brand" routerLink="/form">Registro</a>
            <a class="navbar-brand" routerLink="/users">Usuarios</a>   
    </div>         
</nav>